/*
 * Fonts
 */
@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(/fonts/LilyScriptOne-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ------
 * Global
 * ------
 */
body {
  background-color: #2e2e31;
}

li {
  list-style: none;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* -------
 * Helpers
 * -------
 */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.no-drag {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.disabled {
  color: rgba(0, 0, 0, 0.32);
}

.disabled a {
  pointer-events: none;
}

/* -------
 * Spinner
 * From [tobiasahlin's SpinKit](https://github.com/tobiasahlin/SpinKit)
 * -------
 */
.loading {
  text-align: center;
}

.loading b {
  margin-top: 35px;
  font-size: 18px;
  display: inline-block;
  font-weight: normal;
}

.loading .spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: white;
  border-radius: 100%;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

.content.loading {
  overflow: hidden;
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* ---------------
 * Section: Screen
 * ---------------
 */
.screen-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.screen-appear.screen-appear-active {
  opacity: 1;
}

/* Notifications */
#toast-container > div {
  box-shadow: none;
}


/* ------------------
 * Section: Left menu
 * ------------------
 */

/* Side menu */
aside.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #3e3e42;
  height: 100vh;
  width: 220px;
}

/* Branding */
aside.menu header {
  height: 83px;
  background-color: rgb(255, 85, 85);
  color: white;
  font-family: 'Lily Script One';
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  border-bottom: 9px solid #784446;
}

aside.menu header:hover .brand .flip {
  transform: rotateY(720deg);
}

.brand {
  vertical-align: middle;
  font-size: 30px;
  letter-spacing: initial;
}

/* Hacker badge */
.brand sup {
  display: inline-block;
  perspective: 1000px;

  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 9px;

  vertical-align: top;
  top: -1.6em;
  left: 1em;
}

.brand .flip {
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 15.5px;
  position: relative;
}

.brand .front, .brand .back {
  height: 14px;
  width: 27px;

  border: 1px white solid;
  border-radius: 50px;

  padding-top: 15px;
  padding-left: 1px;
  padding-right: 1px;

  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.brand .front {
  transform: rotateY(0) rotateZ(20deg);
  background-color: white;
  color: rgb(255, 85, 85);
}

.brand .back {
  transform: rotateY(180deg) rotateZ(20deg);
}

/* Menu */
.menu ul {
  padding-top: 40px;
  color: white;
}

.menu li {
  margin: 0;
}

.menu li a {
  box-sizing: border-box;
  height: 35px;
  width: 100%;

  padding-left: 25px;

  display: flex;
  align-items: center;
  text-align: left;

  transition: background-color 450ms;
}

.menu li a.active {
  background-color: rgb(255, 85, 85);
  font-weight: bold;
}

.menu li a:hover {
  background-color: #784446;
  cursor: pointer;
}

.menu li a.active:hover {
  background-color: #B6484C;
}

/* -------------------
 * Section: Main panel
 * -------------------
 */

main {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 220px;
}

main header {
  height: 50px;
  padding-top: 20px;
  padding-left: 40px;
}

main .content {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 70px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: inset 0px 10px 10px -13px black
}

/* Search bar */
.search {
  display: inline-block;
  float: right;
  height: 38px;

  margin-right: 50px;
  padding: 6px 10px;
  box-sizing: border-box;

  background-color: rgb(106, 106, 108);
  border-radius: 4px;
  box-shadow: none;
}

.search input {
  background-color: inherit;
  color: white;

  vertical-align: top;
  height: initial;
  padding-top: 4px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  border: none;
}

.search input:focus {
  border: none;
}

/* List of current songs */
#view-current-songs .song {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 6px;
}

#view-current-songs .song:hover {
  background-color: rgb(62, 62, 66);
  cursor: pointer;
}

/* List of albums */
#view-albums .album {
  width: 100%;
}

/* List of artists */
#view-artists .artist {
  width: 100%;
}

#view-artists .album {
  width: 33.3%;
  display: inline-block;
}

#view-artists .album figure {
  color: black;
  background-color: white;
  border: 1px solid rgb(120, 120, 120);
}

#view-artists .album .cover {
  width: 100%;
  height: 250px;
}

/* Animation for the current song playing */
.is-current-song .loader {
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
}

.is-current-song .loader li {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: white;
  bottom: 0;
  margin: 0;
}


@keyframes current-song-sequence1 {
	0%{height: 15%;}
	50%{height:78%;}
	100%{height: 15%;}
}

@keyframes current-song-sequence2 {
	0%{height: 30%;}
	50%{height: 100%;}
	100%{height: 30%;}
}

.is-current-song .loader li:nth-child(1) {
  left: 0;
  animation: current-song-sequence1 1s ease infinite;
}

.is-current-song .loader li:nth-child(2) {
  left: 10px;
  animation: current-song-sequence2 1s ease infinite 0.1s;
}

.is-current-song .loader li:nth-child(3) {
  left: 20px;
  animation: current-song-sequence1 1s ease-in-out infinite 0.2s;
}

.is-current-song .loader li:nth-child(4){
  left: 30px;
  animation: current-song-sequence2 1s ease-in infinite 0.3s;
}

/* ----------------------
 * Section: Bottom player
 * ----------------------
 */

.bottom-player {
  height: 90px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 40px;

  color: rgb(194, 194, 194);
  background-color: rgb(34, 34, 34);
}

.bottom-player > div {
  display: inline-block;
  vertical-align: middle;
}

/* Info current song */
.bottom-player .info-song {
  position: relative;
  width: 186px;
}

.bottom-player .info-song .cover {
  height: 58px;
  width: 58px;
  position: absolute;
  border: 2px solid white;
  border-radius: 58px;
  background-size: cover;
}

.bottom-player .info-song > div {
  display: inline-block;
  vertical-align: top;
}

.bottom-player .info-song .infos {
  padding-top: 4px;
  padding-left: 80px;
  line-height: 1.8rem;

  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.bottom-player .info-song .infos > div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.bottom-player .info-song .title {
  display: block;
  font-size: 1.8rem;
}

/* Player actions */
.player-actions {
  padding-left: 40px;
  padding-right: 40px;
}

.player-actions > * {
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
}

.player-actions svg {
  cursor: pointer;
  fill:#6b6b6e;
  stroke:none;
}

.player-actions svg:hover g path {
  fill: rgb(230, 230, 230);
}

.player-actions .pause-play {
  margin-left: 10px;
  margin-right: 10px;
}

.player-actions .pause-play[data-playing=false] .pause {
  display: none
}

.player-actions .pause-play[data-playing=false] .play {
  display: inline-block;
}

.player-actions .pause-play[data-playing=true] .pause {
  display: inline-block;
}

.player-actions .pause-play[data-playing=true] .play {
  display: none;
}

/* Time tracking */
.time-track > div {
  display: inline-block;
}

.time-track .time-bars {
  position: relative;
  height: 8px;
  width: 460px;

  margin-left: 10px;
  margin-right: 10px;
}

.time-track .time-bar {
  height: 6px;
  border-radius: 20px;
  position: absolute;
}

.time-bars .current.time-bar {
  width: 0;
  z-index: 2;
  background-color: rgb(255, 85, 85);
}

.time-track .total.time-bar {
  width: 100%;
  background-color: rgb(106, 106, 108);
}

/*
 * Section: file upload area
 */

.dropzone {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.73);

  text-align: center;

  border: none;
  box-sizing: border-box;
  padding: 10rem;
}

.dropzone > div {
  margin: auto;
  height: 100%;
  max-width: 600px;

  box-sizing: border-box;
  border-radius: 10px;
  border-style: dashed;

  display: flex;
  align-items: center;
  justify-content: center;
}
